[mysqld]
general_log=on
general_log_file=/var/log/mysql/mysql.log
slow_query_log=on
slow_query_log_file=/var/log/mysql/mysql-slowquery.log
long_query_time=1
log_error = /var/log/mysql/mysql_error.log
